<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Bookstore</title>
    <%- include('header') %>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center heading">Discover Amazing Books</h1>
      <div class="row mt-4">
        <% books.forEach(book => { %>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <a href="/book?id=<%= book._id %>">
            <div class="book-card">
              <div class="card-box"></div>
              <div class="card-img">
                <img src="<%= book.imageUrl %>" class="card-img-top" />
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <a href="/book?id=<%= book._id %>" class="fw-bold"
                    ><%= book.name %></a
                  >
                </h5>
                <p class="card-text">
                  by <span class="fw-bold"><%= book.author %></span>
                </p>
                <a href="/book?id=<%= book._id %>" class="card-read"
                  >Read More</a
                >
                <div class="fav-btn">
                  <form action="/add-favorite" method="POST" class="w-50">
                    <input
                      type="hidden"
                      name="bookId"
                      value="<%= book._id %>"
                    />

                    <button class="fav-btn add-fav-btn" type="submit">
                      <img
                        src="/images/redheart.png"
                        width="35px"
                        alt="favourite"
                      />
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </a>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
